<!DOCTYPE HTML>
<html>
  <head>
    <%- include('./bootstraps/link-bootstrap') -%>
    <%- include('./bootstraps/script-bootstrap') -%>
    <%- include('./bootstraps/passwordVis') -%>
  </head>
  <div class="container"> 
    <h1 class="mb-3">Login</h1>
    <form method="POST" action="/login">

      <div class="mb-3">
        <label for="uname" class="form-label">Username or Email</label>
        <input type="text" class="form-control" id="uname" name="useremail" aria-describedby="form-text">
      </div>
      
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input type="password" class="form-control" id="password" name="password">
          <button type="button" class="btn btn-outline-secondary" id="togglePassword">Show</button>
        </div>
      </div>

      <div class="mb-3 form-check">
        <label class="form-check-label" for="rembox">Remember me</label>
        <input type="checkbox" class="form-check-input" name="rememberme" id="rembox">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</html>
